// theme color
$theme-blue: #008CFF;
$theme-shadow-blue: #139AFF;
$theme-dark-blue: #005EFE;
$theme-green: #03C78C;
$theme-yellow: #FFBE2D;
$theme-pink: #FF2660;
$theme-gem-blue: #00BCD4;
$theme-purple-blue: #3F51B5;

// font color
$font-black: #333333;
$font-dark-grey: #666666;
$font-grey: #999999;

